@import "../node_modules/neal-react/css/base";
@import "_grid";

body {
	font-family: 'Lato'; font-style: normal; font-weight: 100;
}

.main-top {
	background-color: #1A5188; background-image: url(http://i.imgur.com/nMBfnMv.jpg); background-size: cover; padding: 80px 30px; margin-bottom: 30px;

	&--title {
		text-align: center; font-weight: 100; font-size: 3.5rem; color: #fff;
	}

	&--title::after {
		content: ' '; display: block; height: 1px; background: #fff; margin: 10px auto; max-width: 300px;
	}

	&--desc {
		text-align: center; font-weight: 100; color: #fff;
	}
}

.main-bottom {
	background: #f8f8f8; padding: 30px; color: #333; margin-top: 30px; display: flex;

	&--right {
		text-align: right; width: 50%; padding-left: 10px;
	}

	&--left {
		width: 50%; padding-right: 10px;
	}
}

.charts {
	display: flex; flex-flow: row wrap; margin: 40px 0;

	&--block {
		width: 50%; padding: 0 30px;

		&--title {
			margin-bottom: 0px; font-weight: 100;
		}

		&--desc::after {
			content: ' '; display: block; height: 1px; background: #ddd; margin: 20px auto;
		}
	}
}
